body {
	background-color: #EEEEEE;
	padding-top: 70px;
}

#map-canvas {
	width: 100%;
	height: 500px;
	float: left;
}

.form-actions {
	margin: 0;
	background-color: transparent;
	text-align: center;
}

#schooLegend {
	margin-top: 20px;
	margin-bottom: 20px;
}

#schoolMap,
#schooLegend {
	width: 100%;
	border: solid 4px #000000;
}

#smap {
	width: 50%;
	height: 50%%;
}

#smapButtons,
#smapStatus,
#contactInfo,
#searchBar,
#otherComp,
#retToMain {
	text-align: center;
}

#emergButt {
	border-radius: 0;
	width: 20em;
	height: 5em;
	-webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/* Style The Dropdown Button */

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
	position: relative;
	display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
	background-color: #f1f1f1;
	z-index: -1;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
	display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
	background-color: #EEEEEE;
}

.dropbtn {
	color: #000;
	border: solid 3px #000;
	background-color: #f1f1f1
}

.table {
	text-align: center;
}

.securityNo {
	border: 2px solid #000;
}

#securityTable {
	width: 20%;
}

tr {
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

#retToMain button {
	margin: 1em;
}

.table tbody .secAddress td {
	padding: 0px;
}

.table tbody .secAddressLast td {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
}

.table tbody .securityTitle td {
	border: 5px solid #000;
}

h2,
h3 {
	margin: 1em;
}

#searchButt {
	margin-top: 1em;
}