body {
	background-color: #EEEEEE;
	padding-top: 70px;
}

#map-canvas {
	width: 100%;
	height: 500px;
	float: left;
}

.form-actions {
	margin: 0;
	background-color: transparent;
	text-align: center;
}

#schooLegend {
	margin-top: 20px;
	margin-bottom: 20px;
}

#schoolMap,
#schooLegend {
	width: 100%;
	border: solid 4px #000000;
}

#smap {
	width: 50%;
	height: 50%%;
}

#smapButtons,
#smapStatus {
	text-align: center;
}